<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
        <link href="./css/desktopHd.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="desktophd"/>
        <div class="desktophd">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="bg">
                    <img anima-src="./img/desktop-hd-path4.png" class="path4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-hd-path3.png" class="path31" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="footer">
                    <img anima-src="./img/desktop-hd-footer@2x.png" class="footer1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="logo">
                        <img anima-src="./img/apparel-fill-27@2x.png" class="fill27" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/apparel-fill-29@2x.png" class="fill29" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/apparel-fill-31@2x.png" class="fill31" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/apparel-fill-33@2x.png" class="fill33" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-fill-41@2x.png" class="fill35" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/apparel-fill-37@2x.png" class="fill37" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/apparel-fill-39@2x.png" class="fill39" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-fill-41@2x.png" class="fill41" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-fill-43@2x.png" class="fill43" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-fill-45@2x.png" class="fill45" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-fill-47@2x.png" class="fill47" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="content">
                        <div class="a1800sprhrcisgr8">
                            1-800-SPRHRCISGR8
                        </div>
                        <div class="heroessuperheroicc">
                            HEROES@SUPERHEROIC.COM
                        </div>
                        <div class="social">
                            <div class="facebook">
                                <img anima-src="./img/apparel-facebook@2x.png" class="facebook1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/desktop-hd-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="twitter">
                                <img anima-src="./img/desktop-hd-twitter@2x.png" class="twitter1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/apparel-oval-1@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="instagram">
                                <img anima-src="./img/apparel-instagram@2x.png" class="instagram1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="group">
                                <img anima-src="./img/apparel-youtube@2x.png" class="youtube" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="links">
                            <div class="faq">
                                FAQ
                            </div>
                            <div class="contact">
                                CONTACT
                            </div>
                            <div class="termsconditions">
                                TERMS &amp; CONDITIONS
                            </div>
                            <div class="privacy">
                                PRIVACY
                            </div>
                            <div class="shippingreturns">
                                SHIPPING &amp; RETURNS
                            </div>
                        </div>
                    </div>
                </div>
                <div class="returns">
                    <img anima-src="./img/shoe-mobile-footer-1@2x.png" class="footer1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="freereturnsmadeea">
                        FREE RETURNS MADE EASY - READ HOW
                    </div>
                    <img anima-src="./img/shoe-mobile-line@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="icons">
                    <div class="titles">
                        <div class="dualdensitymidsole">
                            DUAL DENSITY<br />MIDSOLE
                        </div>
                        <div class="outsoleformultiple">
                            OUTSOLE FOR<br />MULTIPLE SURFACES
                        </div>
                        <div class="seamlessinterior">
                            SEAMLESS<br />INTERIOR
                        </div>
                        <div class="adjustableutilitys">
                            ADJUSTABLE<br />UTILITY STRAP
                        </div>
                        <div class="midsolesidewallgri">
                            MIDSOLE<br />SIDEWALL GRIP
                        </div>
                        <div class="heelbumper">
                            HEEL<br />BUMPER
                        </div>
                    </div>
                    <div class="icons1">
                        <img anima-src="./img/desktop-hd-icon2.svg" class="icon2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/shoe-mobile-icon4.svg" class="icon4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-icon3.svg" class="icon3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-icon1.svg" class="icon1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-icon5.svg" class="icon5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/shoe-mobile-icon6.svg" class="icon6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="playisgood">
                    <div class="playisgoodforthe">
                        <span class="span1">PLAY<br />IS GOOD<br />FOR THe<br />SOU</span><span class="span2">L</span>
                    </div>
                    <div class="group13">
                        <div class="ourproductsaredes">
                            Our products are designed for play, to aid movement rather than restrict it. We are shaping the future of children’s footwear, using materials that perform better, in a design that fits better, inspiring kids to reach new heights and test their limits. These are products that help them unlock their inner super powers.
                        </div>
                        <img anima-src="./img/desktop-hd-line-2@2x.png" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="mechanical">
                    <div class="rectangle2">
                    </div>
                    <img anima-src="./img/desktop-hd-superheroicpackaging3qlaydowncompv3layered.png" class="superheroicpackaging3qlaydowncompv3layered" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="mission">
                    <div class="whywecreatedsuper">
                        WHY WE CREATED<br />SUPER HEROIC
                    </div>
                    <img anima-src="./img/desktop-hd-fill-49@2x.png" class="fill49" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="cta">
                        <div class="rectangle">
                        </div>
                        <div class="ouroriginstory">
                            <span class="span1">OUR ORIGIN STOR</span><span class="span2">Y</span>
                        </div>
                    </div>
                </div>
                <div class="betterperformance">
                    <div class="highperformance">
                        <div class="text">
                            <div class="designedtoinspire">
                                Designed to inspire kids to push play to the max, the TMBLR v1 has extra traction on the slides of the sole, enhancing grip. The dual density midsole aids multi directional movement, while a durable rubber outsole adds stability on uneven surfaces. The ­TMBLR v1 lets kids do more, stay safer, and play longer. That's high performance.
                            </div>
                            <img anima-src="./img/desktop-hd-line-2-1@2x.png" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="title">
                            <div class="highperformance1">
                                HIGH PERFORMANCE
                            </div>
                        </div>
                    </div>
                    <div class="betterfit">
                        <div class="text">
                            <div class="thetmblrv1usescu">
                                The TMBLR v1 uses cutting-­edge technology and design to deliver a shoe that fits perfectly, enabling movement instead of restricting it. The smooth internal lining works alongside a cushioned sole and a Utility Strap which keeps the foot contained, comfortable and secure. Once it’s on, it’s on. No laces, no tripping, and no delays in important missions.
                            </div>
                            <img anima-src="./img/apparel-line-2-1@2x.png" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="title">
                            <div class="abetterfit">
                                A BETTER FIT
                            </div>
                        </div>
                    </div>
                    <div class="shoe">
                        <img anima-src="./img/desktop-hd-bitmap.png" class="bitmap" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="largephoto">
                    <div class="rectangle2">
                    </div>
                    <div class="lifestylephoto">
                        LIFESTYLE PHOTO
                    </div>
                </div>
                <div class="finally">
                    <div class="text">
                        <div class="mostfootwearrestri">
                            Most footwear restricts the extra movement that children need for play; to run, balance and grip. Imagine what children could achieve if they had footwear specifically designed to enhance their skills, rather than restrict them.
                        </div>
                        <img anima-src="./img/desktop-hd-line-2-3@2x.png" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="title">
                        <div class="finallyasneakerm">
                            FINALLY, A SNEAKER MADE FOR A<br />CHILD'S NATURAL MOVEMENTS
                        </div>
                    </div>
                    <div class="shoe">
                        <img anima-src="./img/desktop-hd-shoe.png" class="shoe1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="hero">
                    <div class="rectangle5">
                    </div>
                    <img anima-src="./img/desktop-hd-group-3.png" class="group3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group2">
                        <img anima-src="./img/desktop-hd-page-1.png" class="page1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-page-1-1.png" class="page11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="hereshow">
                        <div class="builtforkids">
                            BUILT FOR KIDS
                        </div>
                        <div class="down">
                            <div class="rectangle">
                            </div>
                            <img anima-src="./img/desktop-hd-down@2x.png" class="down1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="info">
                        <div class="sizeqty">
                            <div class="fit">
                                <div class="findyour">
                                    Find your
                                </div>
                                <div class="perfectfit">
                                    <span class="span1">perfect fi</span><span class="span2">t</span>
                                </div>
                                <img anima-src="./img/desktop-hd-line-1@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="size">
                                <div class="group">
                                    <div class="rectangle6">
                                    </div>
                                    <div class="rectangle61">
                                    </div>
                                    <div class="rectangle62">
                                    </div>
                                    <div class="rectangle63">
                                    </div>
                                    <div class="rectangle64">
                                    </div>
                                    <div class="rectangle65">
                                    </div>
                                    <div class="rectangle66">
                                    </div>
                                    <div class="rectangle67">
                                    </div>
                                    <div class="rectangle68">
                                    </div>
                                </div>
                                <div class="a12c">
                                    12C
                                </div>
                                <div class="a13c">
                                    13C
                                </div>
                                <div class="a1y">
                                    1Y
                                </div>
                                <div class="a2y">
                                    2Y
                                </div>
                                <div class="a3y">
                                    3Y
                                </div>
                                <div class="a6y">
                                    6Y
                                </div>
                                <div class="a7y">
                                    7Y
                                </div>
                                <div class="a5y">
                                    5Y
                                </div>
                                <div class="a4y">
                                    4Y
                                </div>
                            </div>
                            <div class="size1">
                                Size
                            </div>
                        </div>
                        <div class="options">
                            <img anima-src="./img/desktop-hd-shoe-1@2x.png" class="shoe2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/desktop-hd-shoe-2@2x.png" class="shoe1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="info1">
                            <div class="text">
                                <div class="ourexclusivetmblr">
                                    Our exclusive TMBLR v1 in its original colorway. Built for play.
                                </div>
                            </div>
                            <div class="title">
                                <div class="tmblrv1">
                                    <span class="span1">Tmblr v</span><span class="span2">1</span>
                                </div>
                                <div class="limitededition">
                                    LIMITED EDITION
                                </div>
                                <div class="freeshipping">
                                    + FREE SHIPPING
                                </div>
                            </div>
                            <div class="price">
                                <div class="a79">
                                    $79
                                </div>
                            </div>
                        </div>
                        <div class="cta">
                            <div class="rectangle6">
                            </div>
                            <div class="ordernow">
                                <span class="span1">ORDER NO</span><span class="span2">W</span>
                            </div>
                        </div>
                    </div>
                    <div class="shoes">
                        <img anima-src="./img/desktop-hd-shoe-3@2x.png" class="shoe1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-49211337639r00superheroicbeautyfootwearshoottdpair@2x.png" class="a49211337639r00superheroicbeautyfootwearshoottdpair" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-49211337642r00superheroicbeautyfootwearshootheelpair@2x.png" class="a49211337642r00superheroicbeautyfootwearshootheelpair" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/desktop-hd-49211337643r00superheroicbeautyfootwearshootd4@2x.png" class="a49211337643r00superheroicbeautyfootwearshootd4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="group4">
                            <div class="rectangle51">
                            </div>
                            <div class="video">
                                VIDEO
                            </div>
                            <img anima-src="./img/desktop-hd-play@2x.png" class="play" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="shoe">
                        <img anima-src="./img/desktop-hd-shoe-4.png" class="shoe1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="nav">
                        <img anima-src="./img/desktop-hd-fill-49-1@2x.png" class="fill49" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="shoesaccessoriesab">
                            <span class="span1">SHOES      accessories      ABOUT      HERO LA</span><span class="span2">B</span>
                        </div>
                        <div class="accountbasket">
                            <span class="span1">ACCOUNT    |    BASKE</span><span class="span2">T</span>
                        </div>
                    </div>
                </div>
                <div class="photos">
                    <div class="lr">
                        <div class="hereshow">
                            <div class="down">
                                <div class="rectangle">
                                </div>
                                <img anima-src="./img/desktop-hd-down-1@2x.png" class="down2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/desktop-hd-down-2@2x.png" class="down1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <img anima-src="./img/desktop-hd-heres-how@2x.png" class="hereshow1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="social">
                        <div class="superheroic">
                            #SUPERHEROIC
                        </div>
                    </div>
                    <img anima-src="./img/desktop-hd-3.png" class="a3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-hd-2.png" class="a2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-hd-1.png" class="a1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="./img/desktop-hd-path-3@2x.png" class="path3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
