body {
    background: #6b6c6d;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);

    padding: 50px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8em;

    color: antiquewhite;
}

#main {
    display: flex;
    justify-content: flex;
}

.main-content {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: flex;
}